html,body {
  height: 100%;
}

body {
  display: grid;
  place-items: center;
}

main {
  background: url(../../public/images/background.svg);
  width: 375px;
  height: 812px;
}

.image-user {
  width: 200px;
}